<!DOCTYPE html>
<html>
  <head>
    <title>WeddintWelcomeBoardMatching</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="<%= controller.controller_name %>-<%= controller.action_name %>">

    <%= yield %>

    <%= render 'layouts/partial/footer' %>

  </body>
</html>
